<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>享WiFi后台设置</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<link href="blue/doubleDate.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/doubleDate2.0.js"></script>
<script type="text/javascript">
$(function(){
	
	$('.doubledate').kuiDate({
		className:'doubledate',
		isDisabled: "0"  // isDisabled为可选参数，"0"表示今日之前不可选，"1"标志今日之前可选
	});

});
</script>
</head>

<body>
<!--头部 begin-->
<div id="nr_top">
  <div class="wrap">
  </div>
</div>
<!--头部 end-->

<div class="wrap contact">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="150" valign="top" bgcolor="#FFFFFF">
    <!--左侧边栏 begin-->
    <div class="siadrBar_left">
      <ul>
      	<li class="hover"><a href="connection_list.html">连接列表</a></li>
        <li><a href="connection_li2.html">连接列表</a></li>
        <li><a href="connection_l3t.html">连接列连接列表</a></li>
        <li><a href="connection_l1.html">连接列表</a></li>
      </ul>
    </div>
	<!--左侧边栏 end-->
    </td>
    <td width="10">&nbsp;</td>
    <td valign="top" bgcolor="#FFFFFF">
      <div class="r_nr">
      	<div class="con_title"><span>连接列表</span>
        <div class="calendar"><ul class="iptgroup">
	<li>开始日期：</li>
	<li><input type="text" readonly="readonly" class="doubledate ipticon"/></li>
	<li style="width:20px;"></li>
	<li>结束日期：</li>
	<li><input type="text" readonly="readonly" class="doubledate ipticon"/></li>
</ul></div>

        </div>
        <div class="connec_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr class="white">
                <td width="100" align="center" bgcolor="#4ec5fb">连接方式</td>
                <td align="center" bgcolor="#4ec5fb">MAC地址</td>
                <td align="center" bgcolor="#4ec5fb">IP</td>
                <td align="center" bgcolor="#4ec5fb">设备名称</td>
                <td align="center" bgcolor="#4ec5fb">连接时间</td>
                <td width="60" align="center" bgcolor="#4ec5fb">连接时长（分）</td>
                <td width="50" align="center" bgcolor="#4ec5fb">是否认证</td>
                <td width="80" align="center" bgcolor="#4ec5fb">操作</td>
                <td width="50" align="center" bgcolor="#4ec5fb">是否认证</td>
                <td width="80" align="center" bgcolor="#4ec5fb">操作</td>
              </tr>
              <tr class="bor">
                <td align="center">WIFI连接</td>
                <td align="center" class="jx">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center">MEIZU-4</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">52</td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr bgcolor="#f7f7f7" class="bor">
                <td align="center">有线连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center">三星I9300</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">100</td>
                <td align="center">否</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr>
                <td align="center" class="bor">WIFI连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center" class="bor">MEIZU-4</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">60</td>
                <td align="center" class="bor">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                添加黑名单</a></td>
              </tr>
              <tr bgcolor="#f7f7f7">
                <td align="center" class="bor">有线连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center" class="bor">三星I9300</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">80</td>
                <td align="center" class="bor">否</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr>
                <td align="center" class="bor">WIFI连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center" class="bor">MEIZU-4</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">30</td>
                <td align="center" class="bor">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr bgcolor="#f7f7f7">
                <td align="center" class="bor">有线连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center" class="bor">三星I9300</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">5</td>
                <td align="center" class="bor">否</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr class="bor">
                <td align="center">WIFI连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center">MEIZU-4</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">12</td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr bgcolor="#f7f7f7">
                <td align="center" class="bor">有线连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center" class="bor">三星I9300</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">32</td>
                <td align="center" class="bor">否</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
              <tr>
                <td height="50" align="center">WIFI连接</td>
                <td align="center">14:15:21:21:21:25</td>
                <td align="center">192.168.1.100</td>
                <td align="center">MEIZU-4</td>
                <td align="center">2014-02-0215:10:02</td>
                <td align="center">56</td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
                <td align="center">是</td>
                <td align="center"><a href="#" class="org">添加白名单</a><a href="#" class="blue"><br>
                添加黑名单</a></td>
              </tr>
            </table>
            <div class="next_page"><a href="#" class="gray icon1">上一页</a><a href="#" class="hover">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#" class="icon2">下一页</a></div>
            <!--到最后一页的样式
            <div class="next_page"><a href="#" class="icon1_on">上一页</a><a href="#" class="hover">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#" class="gray icon2_on">下一页</a></div>-->
            
          </div>
      </div>
    </td>
  </tr>
</table>
</div>

<!--底部 begin-->
<div id="foot">
  <div class="wrap footText"><span class="fr">客服电话：400-777-6338或020-85661839-845/825/823    　当前版本：1.0.0
</span>广州翼锋信息科技有限公司©2014-2015 Yimipingtai, All Rights Reserved</div>
</div>
<!--底部 end-->
</body>
</html>
