<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<title>享WiFi后台设置</title>
<link href="__PUBLIC__/css/style.css" rel="stylesheet" type="text/css">
<!--[if lt IE 9]> 
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> 
<![endif]--> 
</head>

<body>
<!--头部 begin-->
<div id="log_top"></div>
<!--头部 end-->

<!--登陆框 begin-->
<div id="loginBar">
  <div class="log_nr">
  	<form action="" method="get">
    <ul>
    	<li>：<span>D4EE071E0DE8</span></li>
        <li class="bor"><i>密码：</i><input name="" type="text" class="log_input"></li>
    <div class="clear"></div>
    </ul>
        <div>
        <p class="ts_text"><img src="__PUBLIC__/images/prompt_icon.png" alt="" class="ts_icon"><i class="red">密码输入有误，请重新输入</i>        </p>
        <p class="ts_text">默认密码：<i class="blue">admin</i>，为保证登录安全，请登录后立即修改密码！        </p></div>
        <div class="anniu"><a href="#" class="but cancel">取消</a><a href="#" class="but okBut">确定</a></div>
    </form>
  </div>
</div>
<!--登陆框 end-->


<!--底部 begin-->
<div id="foot">
  <div class="wrap footText"><span class="fr">客服电话：400-777-6338或020-85661839-845/825/823    　当前版本：1.0.0
</span>金三胖家族©2014-2015 Yimipingtai, All Rights Reserved</div>
</div>
<!--底部 end-->
</body>
</html>
